*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

body{
     background-color: #FF5F00;
}

h1{
     color: #f9fafb;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.header{
    margin-top: 20px;
    margin-bottom: 38px;
    border: 2px solid white;
    border-radius: 6px;
    padding: 12px 18px;
}


.line{
    width: 60%;              
    height: 2px;
    margin: 20px auto;       
    background: linear-gradient(
        to right,
        transparent,
        #ffffff,
        transparent
    );
    border-radius: 10px;
}


.txt{
    color: white;
    margin-bottom: 35px;
}


.main{
    display: flex;
    gap: 60px;
    cursor: pointer;
}

.main img{
    width: 200px;
    height: auto;

   
}



